.Button {
  padding: 8px 24px;
  border-radius: 18px;
  border: 1px solid white;

  color: white;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $deepOrange;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all ease-out 0.2s;
  }

  &:hover::before {
    top: 0;
  }
}
