#About {
  padding: 96px 32px 0px 32px;
  background-color: $sweetBeige;
  min-height: 100vh;

  p {
    font-size: 16px;
    line-height: 180%;
  }

  .mainContent {
    grid-column-start: span 7;
    padding: 24px 16px;

    h1 {
      width: 70%;
    }

    .icon {
      width: 40px;
    }

    .legende {
      padding-right: 32px;
      p {
        width: 80%;
      }
    }
  }

  .picture {
    margin: 8px;
    grid-column: span 5;
    height: 50vh;
    overflow: hidden;
  }

  .footer {
    .section {
      grid-column-start: span 3;
    }

    .section:nth-of-type(2) {
      grid-column-start: span 6;
    }
  }

  .vrtLine,
  .hrLine {
    background-color: $dark;
  }
}
