#Article4 {
  background-color: $sweetBeige;
  padding: 80px 32px 32px;

  h1 span {
    font-family: "Prettywise";
  }

  .hrLine {
    width: 0; // set up for animation
    height: 0.5px;
    background-color: $dark;
    margin-bottom: 16px;
  }

  .article {
    margin-top: 24px;

    h2 {
      text-align: end;
      // set up for animation
      transform: translate(0, 50%);
      opacity: 0;
    }

    p {
      // set up for animation
      transform: translate(0, 100%);
      opacity: 0;
    }
  }

  // media queries
  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 772px) {
  }
  @media screen and (max-width: 576px) {
    padding: 80px 16px 16px;

    h1 {
      font-size: 40px;
    }

    .article {
      h2 {
        font-size: 40px;
      }
    }
  }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 32px;
    }

    .article {
      h2 {
        font-size: 32px;
      }
    }
  }

  @media screen and (max-width: 380px) {
    .article p {
      font-size: 8px;
    }
  }
}
