#Herobanner {
  height: 100vh;
  color: $white;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;

  .leftSection {
    grid-column-start: span 6;
  }

  .rightSection {
    height: 100%;
    grid-column-start: span 6;
    .title {
      height: 82%;
      padding: 40px 0;
      opacity: 0;
      transform: translate(0, 50px);
      h1 {
        font-size: 64px;
      }
    }
    .footer {
      height: 18%;

      h2 {
        opacity: 0;
        transform: translate(0, 50px);
      }

      .trueIcon {
        width: 32px;
        opacity: 0;
        transform: translate(0, 50px);
      }
    }
  }

  .hrLine {
    width: 0;
  }

  .vrtLine {
    height: 0;
  }

  @media screen and (max-width: 772px) {
    background-position: 0%;
    .leftSection {
      display: none;
    }

    .rightSection {
      grid-column-start: span 12;
      height: 64%;
    }
  }

  @media screen and (max-width: 576px) {
    .rightSection {
      height: 76%;
    }
  }

  @media screen and (max-width: 380px) {
    .rightSection {
      .title {
        h1 {
          font-size: 32px;
        }
        h5 {
          font-size: 16px;
        }
      }
      .footer {
        h2 {
          font-size: 24px;
        }

        .trueIcon {
          width: 24px;
        }
      }
    }
  }
}
