@font-face {
  font-family: "Prettywise";
  src: url("../../Assets/Fonts/Prettywise-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Spartan";
  src: url("../../Assets/Fonts/Spartan-Regular.ttf") format("truetype");
  font-weight: 400;
}

// @font-face {
//   font-family: "NewYork";
//   src: url("../../Fonts/NewYork.otf") format("otf");
//   font-weight: 400;
// }
